* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #fff;
}

ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Header */
.header {
  padding: 0 2rem;
  height: 85px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;
}
.header .header__nav {
  display: flex;
  align-items: center;
}
.header .headerNav__blog {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.header a {
  padding: 0 20px;
  line-height: 85px;
  color: #fff;
  text-transform: uppercase;
  display: block;
  transition: all 0.5s;
}
.header a:hover {
  color: #673ab7;
}
.header .btn-phone {
  padding: 1rem;
  border-radius: 50%;
  outline: none;
  border: none;
  background: linear-gradient(to left, #ffbd84 0, #ff1f8e 100%);
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  margin-left: 20px;
}
.btn {
  padding: 1rem;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 1em;
  color: white;
  cursor: pointer;
}
.btn-linear-green {
  background: linear-gradient(to right, #673ab7 0, #2196f3 100%);
}
.btn-quote {
  margin-left: 1rem;
}
/* Carousel */
.carousel {
  background: linear-gradient(to right, #3f36b9 0, #20206b 100%);
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 100px;
  height: 100vh;
  align-items: center;
  display: flex;
}
.carousel::before {
  content: "";
  background-image: url("./../img/shape-12.svg");
  height: 100%;
  width: 100%;
  opacity: 0.03;
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.carousel .carousel__content {
  padding: 0 30px 0 180px;
}
.carousel h1 {
  font-size: 3.5rem;
  font-weight: 700;
}
.carousel .carousel__sub-text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.25rem;
  max-width: 400px;
  color: #fff000;
  font-weight: 300;
}
.btn-linear-pink {
  background: linear-gradient(to right, #ffbd84 0, #ff1f8e 100%);
  padding: 1rem 2.5rem;
}
.carousel__trademark {
  margin-top: 3rem;
}
/* creative */
.creative {
  height: 1000px;
}
/* statistical */
.statistical {
}
/* choose */
.choose {
}
/* Header */
.work {
}
/* customers */
.customers {
}
/* relationships */
.relationships {
}
/* Header */
.industries {
}
/* testimonials */
.testimonials {
}
/* requirements */
.requirements {
}
/* locations */
.locations {
}
/* get-new */
.get-new {
}
/* footer */
.footer {
}
